<body>
<div class="home-container">
  <header class="header">
    <div class="logo-title">
      <a [routerLink]="['/home']" class="nasa-font">SPACE PONG</a>
      <img class="rocket" src="../../../../assets/images/rocket.png" alt="rocket">
    </div>
    <div class="nav-links">
      <a *ngIf="!user" [routerLink]="['../login']" class="nasa-font">Login</a>
    </div>
  </header>

  <main class="main-content">
    <div class="play-section">
      <a [routerLink]="user ? ['/private/game/spacepong'] : ['../login']" class="nasa-font play-animation">PLAY</a>
    </div>
  </main>
</div>
</body>
